#infoBubbleContainer {
  position: fixed;
  flex-direction: column;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.infoBubble {
  background: yellow;
  padding: 10px;
  border-radius: 25px;
  opacity: 0;
  margin-bottom: 5px;
  transform: translateY(30px);
  animation: popInOut 2.5s forwards ease;
}
@keyframes popInOut {
  20%,80% {transform: translateY(-30px);opacity: 1;}
}
